*

!.gitignore

!fish/
!fish/**

!hypr/
!hypr/**

!theme-switcher/
!theme-switcher/**

!waybar/
!waybar/**

!nvim/
!nvim/**

!kitty/
!kitty/**

!rofi/
!rofi/**

!spicetify/
!spicetify/**

!swaync/
!swaync/**

!ags/
!ags/**

!matugen/
!matugen/**

!starship.toml
