[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=kitty nvim %f %f
Name=nvim-open
Comment=Custom definition for kitty nvim %f
