@import 'colors.css';

* {
    border: none;
    border-radius: 0px;
    font-family: "SF Pro, Medium", "JetBrainsMono NFP", sans-serif;
    font-weight: bold;
    font-size: 16px;

    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

/* ── Dynamic Island ── */
.modules-center {
    background-color: @surface_container;
    border: 1px solid @outline_variant;
    border-radius: 18px;
    min-height: 25px;
}


/* Clock */
#custom-clock {
    background-color: transparent;
    color: @on_surface_variant;
    margin: 0 18px 0 18px;
}

/* ── Workspaces ── */
#workspaces {
    background-color: @surface_container_high;
    padding: 0 0 0 18px;
    border-radius: 18px;
}

#workspaces button {
    transition: all 0.25s ease-in-out;
    margin: 3px 6px 3px 0;
    min-width: 65px;
    border-radius: 18px;
    background-color: @transparent;
    color: @on_surface_variant;
}

/* Active workspace on focused monitor */
#workspaces button.hosting-monitor.visible {
    background-color: @primary;
    color: @on_primary;
}

/* Active workspace on unfocused monitor */
#workspaces button:not(.hosting-monitor).visible {
    background-color: @secondary_container;
    color: @on_secondary_container;
}

/* Hover */
#workspaces button:hover {
    background-color: @surface_container_highest;
}


/* Network */
#network {
    color: @primary;
    margin: 0 18px 0 18px;
    min-width: 18px;
}

/* Battery */
#battery {
    color: @secondary;
    margin: 0 18px 0 0;
    min-width: 18px;
}

/* ── Tooltips ── */
tooltip {
    background: @surface_container;
    border: 1px solid @outline_variant;
    color: @on_surface;
    border-radius: 18px;
}

tooltip label {
    color: @on_surface;
    padding: 0 18px 0 18px;
}
